@import './variables.scss';
@import './mixins.scss';
@import './layout.scss';
@import './media.scss';

html {
    font-size: 12px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    color: #333;
    background-color: #f4f5f5;
}

* {
    box-sizing: border-box;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

input,
button {
    border: none;
    outline: none;
}

.input-focus {
    border-color: $primary-color !important;
    background-color: #fff !important;
}

*:focus {
    outline: none;
}

.iconfont {
    cursor: pointer;
}
