@import 'styles/mixins.scss';

.view-container {
    min-height: 100vh;
    overflow: hidden;

    .main-container {
        position: relative;
        width: $view-width;
        margin: 0 auto;

        &-box {
            margin-top: 5.17rem;

            .main-content-wrap {
                .main-content {
                    margin-top: .33rem;
                    position: relative;

                    .index-aside {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: $sidebar-width;
                    }
                }
            }
        }
    }
}

.container {
    background-color: #ffffff;
    margin: 0 auto;
}

.flex-row {
    @include flex-row-center;
    height: 100%;
}
