// --- layouts ---
$view-width: 960px;

$header-height: 60px;

$card-radius-2px: 2px;

$logo-width:98px;

$block-space:1.5rem;

$sidebar-width:20rem;

// --- colors ---
$primary-color:#007fff;

$light-color: #f1f1f1;

$nav-color:#71777c;

$info-color:#0876e4;

$card-border:1px solid hsla(0, 0%, 59.2%, .2);

$card-bg:rgba(227, 231, 236, .2);
