@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.header-container {
    position: relative;
    width: $view-width;
    height: $header-height;
    z-index: 9;

    .main-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: inherit;
        border-bottom: 1px solid $light-color;

        &-box {
            max-width: $view-width;

            .logo {
                min-width: $logo-width;
                margin-right: 2rem;

                .logo-mobile {
                    display: none;
                }
            }

            .nav {
                position: relative;
                height: $header-height;

                .menu-index {
                    display: none;
                    width: 5.66rem;
                    height: $header-height;
                    font-size: 1.33rem;
                    color: $primary-color;
                    cursor: pointer;

                    .icon-arrow {
                        @include flex-row-center;

                        &::before {
                            content: "";
                            display: inline-block;
                            margin-left: .6rem;
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            border-top: 6px solid $primary-color;
                        }
                    }

                    &:hover &+.nav-list {
                        display: block !important;
                    }
                }

                &-list {
                    height: $header-height;
                    @include flex-row-center;


                    &-item {
                        height: $header-height;
                        padding: 0 $block-space;
                        @include flex-row-center;
                        color: $nav-color;
                        font-size: 1.33rem;
                        word-break: keep-all;
                        cursor: pointer;
                        z-index: 9;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }

            .user-container {
                flex: 1;
                @include flex-row-center;
                height: $header-height;

                &>* {
                    padding: 0 $block-space;
                    height: $header-height;
                }

                .search-input {
                    flex: 1;
                    height: $header-height;
                    @include flex-row-center;
                    justify-content: flex-end;

                    &-item {
                        @include flex-row-center;
                        border: $card-border;
                        border-radius: $card-radius-2px;
                        background-color: $card-bg;

                        .search-input_inner {
                            width: 10rem;
                            padding: .6rem 1rem;
                            font-size: 1.1rem;
                            color: #666;
                            background-color: transparent;

                        }

                        .search-icon {
                            padding: 0 .5rem;
                            line-height: inherit;
                            cursor: pointer;
                        }
                    }
                }

                .button-drop {
                    height: 2.667rem;
                    @include flex-row-center;
                    position: relative;

                    .add {
                        padding: 0 .9rem;
                        height: inherit;
                        color: #fff;
                        font-size: 1.167rem;
                        background-color: $primary-color;
                        border-radius: 3px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        cursor: pointer;

                        &:hover {
                            background: #0876e4;
                        }
                    }

                    .drop-arrow {
                        position: relative;
                        width: 1.25em;
                        flex: 1;
                        height: inherit;
                        color: #fff;
                        border-left: 1px solid hsla(0, 0%, 100%, .1);
                        background-color: $primary-color;
                        border-radius: 3px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        cursor: pointer;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            border-left: 4px solid transparent;
                            border-right: 4px solid transparent;
                            border-top: 3px solid #ffffff;
                            transform: translateY(-50%);
                            transform: translateX(-50%);
                        }

                        &:hover {
                            background: $info-color;
                        }

                    }

                    .drop-list {
                        position: absolute;
                        padding: .417rem 0;
                        width: 100%;
                        top: 100%;
                        left: 0;
                        right: 0;
                        background-color: #fff;
                        border-radius: $card-radius-2px;
                        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
                        overflow: hidden;

                        &-item {
                            color: $info-color;
                            font-size: 1.167rem;
                            line-height: 1.9;
                            text-align: center;
                            cursor: pointer;
                        }

                    }
                }

                .icon-msg {
                    position: relative;

                    &>i {
                        color: #71777c;
                        font-size: 2.2rem;
                        line-height: $header-height;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                        }

                    }

                    &:hover i {
                        color: $primary-color;
                    }
                }

                .icon-user {
                    padding-right: 0;
                    @include flex-row-center;
                    cursor: pointer;

                    &-photo {
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                        background-color: #eee;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: 50%;
                        background-image: url('https://avatars3.githubusercontent.com/u/39292981?s=400&u=3a754a9959968f94b61ca27ab6cda01900d9650c&v=4');
                    }
                }
            }
        }
    }
}
