@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.view-container {
    overflow: hidden;

    .main-container {
        position: relative;
        width: $view-width;
        margin: 0 auto;

        &-box {
            margin-top: 5.17rem;

            .main-content-wrap {
                .main-content {
                    margin-top: .33rem;

                    .index-aside {
                        background: #ffffff;
                    }
                }
            }
        }
    }
}
